@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #111;
}

h1 {
    color: #080808;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

h2 {
    color: #ffffff;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}


p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;
}
.banner-wrap,
.ban-wrap1,
.ban-wrap2,
.ban-wrap3

 {
    height: 100vh;
    width: 100vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative; /* allows overlay content */
    overflow: hidden;
}

.banner-wrap {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop");
}

.ban-wrap1 {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-3-homepage-desktop");
}

.ban-wrap2 {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-X-homepage-desktop");
}
.ban-wrap3 {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-Y-homepage-desktop");
}



.video-bg {
  position: relative;
  width: 100%;
  height: 100vh; /* change to whatever height you want */
  overflow: hidden;
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* KEY for background behavior */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video-bg .content {
  position: relative;
  z-index: 2;
  color: white;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}


nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 56px;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;
    background: white;
}


.logo {
    height: 24px;
    width: 120px;
    cursor: pointer;
}

.nav-items {
    display: flex;
    gap: 14px;
}

.nav-item {
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 9999px;
    transition: background 0.25s ease;
}

.nav-item:hover {
    background: rgba(0, 0, 0, 0.08);
}

main {
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 5;
}

.title-section {
    margin-top: 164px;
    color: #111;
}

.actions-area {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 16px;

    z-index: 6;
}
.b1{
    background: rgba(3, 64, 233, 0.9);
    color: #ffffff;
}
.b2{
    background: rgba(255, 255, 255, 0.9);
    color: #111;
}


.actions-area button {
    min-width: 260px;
    padding: 14px 28px;

    font-size: 14px;
    font-weight: 500;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.actions-area button:hover {
    background: #686868;
    transform: translateY(-2px);
}

